@import 'vars';

body {
    font-family: $main_font;
}
a {
    text-decoration: none;
	color: #333;
	-webkit-transition: $trans_4;
	transition: $trans_4;
}
a:hover, a:focus {
    text-decoration: none
}
button:focus, button:active {
    outline: none
}
.pt-100 {
    padding-top: 100px
}
.pt-50 {
    padding-top: 50px
}
.title-part {
    text-align: center;
    margin-bottom: 50px;
    h2 {
        font-size: 35px;
        font-weight: 600
    }
}
/*** header ***/

header {
    .navbar {
        background-color: $main_color;
        max-width: 100%;
        margin: auto 0;
        transition: $trans_3;
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
        .navbar-collapse {
            justify-content: flex-end
        }
        .navbar-brand {
            img {
                max-width: 65px;
                height: auto
            }
        }
        .navbar-toggler {
            i {
                color: #fff
            }
        }
        .navbar-nav {
            .active {
                .nav-link {
                    color: #fff
                }
            }
            .nav-link {
                font-weight: 500;
                padding: 10px 15px;
                color: #fff;
                font-size: 16px;
                text-transform: capitalize;
            }
        }

        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;
            margin: 0;
            padding: 5px 0
        }
    }
}
/*** header ***/

/*** slider ***/
section.hero {
    #owl-demo {
        .item {
            .item-text {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 80px;
                .item-inner {
                    transform: translateY(-70px);
                    h2 {
                        font-size: 60px;
                        margin: 10px 0;
                        font-weight: 600;
                        color: #00b9b2;
                        .days {
                            color: #fff;
                            font-size: 85px;
                            font-weight: 800;
                        }
                    }
                    p {
                        font-size: 30px;
                        color: #ffffff;
                        margin-bottom: 0
                    }
                }
            }
        }
        .owl-controls {
            position: absolute;
            width: 100%;
            .owl-buttons {
                transform: translateY(-60px);
                
                .owl-prev, .owl-next {
                    background-color: #fff;
                    i {
                        color: #000
                    }
                }
                .owl-prev {
           
                }
                .owl-next {
                    
                }
            }
        }
        .item1 {
            background: url(../img/slider/fullimage5.jpg) right;
            @extend %back_ground;
        }
        .item2 {
            background: url(../img/slider/fullimage7.jpg) right;
            @extend %back_ground;
            .name {
                margin: auto
            }
        }
        .item3 {
            background: url(../img/slider/fullimage5.jpg) right;
            @extend %back_ground;
        }
    }
}
%back_ground {
    background-size: cover;
    height: 100vh
}
/*** slider ***/

/*** about ***/
section.about {
    background: url(../img/about.jpg) right no-repeat;
    background-size: contain;
    padding: $padding;
    .gap {
        position: relative;
        width: 100%;
        .hstry-wrap {
            width: 100%;
            .hstry-img {
                width: 100%;
                position: relative;
                &:before {
                    height: 380px;
                    width: 380px;
                    border: 15px solid;
                    content: "";
                    position: absolute;
                    left: 0;
                    z-index: -1;
                    top: 50%;
                    margin-top: -190px;
                    border-color: $main_color;
                    left: 50%;
                    margin-left: -190px;
                    z-index: 0
                }
                img {
                    z-index: 1;
                    position: relative;
                }
            }
        }
        .hstry-desc {
            float: left;
            width: 100%;
            margin-top: 25px;
            > strong {
                display: block;
                font-weight: 600;
                font-size: 18px;
                color: #444;
            }
            > span {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
            }
            > h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
                color: $main_color;
            }
            > p {
                margin-bottom: 0;
                font-size: 16.5px;
                color: #444;
                margin: 20px 0
            }
            > ul {
                padding-left: 0;
                margin-bottom: 0;
                float: left;
                width: 100%;
                list-style: none;
                
                li {
                    font-size: 15.5px;
                    font-weight: 500;
                    color: #444;
                    position: relative;
                    padding: 0 15px 0 20px;
                    margin-top: 10px;
                    margin-left: 15px;
                    margin-bottom: 17px;
                    
                    &::before {
                        content: "\f00c";
                        font-family: FontAwesome;                     
                        position: absolute;
                        left: -15px;
                        line-height: 30px;
                        text-align: center;
                        color: #026965;
                        width: 30px;
                        height: 30px;
                        font-size: 22px
                    }
                }
            }
        }
    }
}
/*** about ***/

/*** data ***/
section.data { 
    background: url(../img/background/bg-1.jpg) center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
    .counter {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 25px 0;
        margin-bottom: 30px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        .plus {
            font-size: 40px;
            color: #fff;
            font-weight: 600
        }
        .count-title {
            font-size: 40px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
            color: #fff;
            display: inline-block
        }
        .count-text {
            font-size: 20px;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
            color: #fff;
        }
        i {
            margin: 0 auto;
            display: table;
            color: #00ccc4;
            font-size: 55px;
            margin-bottom: 20px;
            text-shadow: 2px 4px 3px #000;
        }
    }
}
/*** data ***/

/*** courses ***/
section.courses {
    padding: $padding;
    .title-part {
        margin-bottom: 50px;
    }
    .course {
        background: url(../img/background/bg-2.jpg) center center;
        background-size: cover;
        padding: 30px 10px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #d8d8d8;
        transition: $trans_4;
        &:hover {
            box-shadow: none
        }
        .icon {
            max-width: 130px;
            margin-bottom: 20px
        }
        h3.title {
            font-size: 20px;
            font-weight: 600;
            color: $main_color;
            margin-bottom: 25px
        }
        p.describe {
            font-size: 15px;
            margin-bottom: 30px
        }
        a.book {
            background-color: $main_color;
            border-radius: 20px;
            padding: 10px 20px;
            color: #fff;
            font-weight: 600;
            font-size: 15px;
        }
    }
}
/*** courses ***/

/*** services ***/
section.services {
    background: url(../img/background/bg-18.jpg) center center;
    background-size: cover;
    padding: $padding;
    direction: rtl;
    .title-part {
        margin-bottom: 50px;
        h2 {
            color: #fff
        }
    }
    .conatent-serv {
        .service {
            text-align: center;
            direction: ltr;
            padding: 80px 0 80px;
            .serv-img{
                background: #fff;
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                box-shadow: 0px 0px 40px #000;
                border-radius: 10px;
                border: 1px solid #fff;
                img {
                    width: 100%
                }
            }
            .serv-text {
                background-color: #fff;
                padding: 10px 5px;
                border-radius: 10px;
                .title {
                    font-size: 18px;
                    color: #00b7b0;
                    font-weight: 600;
                    text-align: center;
                }
                .serv-desc {
                    border-radius: 35px;
                    color: #555;
                    font-size: 13px;
                    margin-bottom: 0
                }
            }
        }
    }
}
/*** services ***/

/*** testimonials ***/
section.reviews {
    padding: $padding;
    
    .reviews-carousel {
        .item {
            text-align: center;
            .rev-img {
                margin-bottom: 20px;
                img {
                    max-width: 215px;
                    margin: auto;
                    border-radius: 50%;
                }
            }
            .rev-title {
                margin-bottom: 20px;
                h2 {
                    font-size: 17px;
                    color: $main_color;
                    font-weight: 600
                }
            }
            .rev-content {
                max-width: 700px;
                margin: auto;
                text-align: center
            }
        }
        .owl-nav {
            display: flex;
            justify-content: center;
            
            .owl-prev, .owl-next  {
                background-color: $main_color;
                padding: 3px 14px;
                margin: 10px;
                i {
                    color: #fff
                }
            }
        }
    }
}
/*** testimonials ***/

/*** offers ***/
section.offers {
    background: url(../img/background/bg-3.jpg) center;
    background-size: cover;
    padding:$padding;
    
    .demo {
        .pricing-table {
            text-align:center;
            margin-bottom: 30px;
            &:hover {
                .pricingTable-header {
                    background:#09b2c6
                }
            }
            .pricingTable-header {
                padding:30px 0;
                background:#4d4d4d;
                position:relative;
                transition:$trans_3;
                
                &:after ,&:before {
                    content:""; 
                    width:16px;
                    height:16px;
                    border-radius:50%;
                    border:1px solid #d9d9d8;
                    position:absolute;
                    bottom:12px
                }
                &:before {
                    left:40px
                }
                &:after {
                    right:40px
                }
            }
            .heading {
                font-size:20px;
                color:#fff;
                text-transform:uppercase;
                margin-top:0
            }
            .price-value { 
                display:inline-block;
                position:relative;
                font-size:55px;
                font-weight:700;
                color:#09b1c5;
                transition:$trans_3
            }
            &:hover {
                .price-value { 
                    color:#fff
                }
            }
            .currency {
                font-size: 20px;
                position: absolute;
                top: -5px;
                left: -35px;
            }
            .month {
                font-size:16px;
                color:#fff;
                position:absolute;
                bottom:15px;
                right:-30px;
                text-transform:uppercase
            }
            .pricing-content {
                padding-top:50px;
                background:#fff;
                position:relative;
                &::after, &::before {
                    content:"";
                    width:16px;
                    height:16px;
                    border-radius:50%;
                    border:1px solid #7c7c7c;
                    position:absolute;
                    top:12px
                }
                &::before {
                    left:40px
                }
                &::after{ 
                    right:40px
                }
                ul {
                    padding:0 20px;
                    margin:0;
                    list-style:none;
                    
                    &::after, &::before {
                        content:"";
                        width:8px;
                        height:46px;
                        border-radius:3px;
                        background:linear-gradient(to bottom,#818282 50%,#727373 50%);
                        position:absolute;
                        top:-22px;
                        z-index:1;
                        box-shadow:0 0 5px #707070;
                        transition:$trans_3
                    }
                    &::after {
                        @extend %back_table;
                        right:44px
                    }
                    &::before {
                        left:44px
                    }
                    li {
                        font-size:15px;
                        font-weight:700;
                        color:#4d4d4d;
                        padding:10px 0;
                        border-bottom:1px solid #d9d9d8;
                        
                        &:last-child {
                            border-bottom:none
                        }
                        span {
                            color: #40c4db;
                            font-weight: 700;
                        }
                    }
                }
                &:hover {
                    ul {
                        &::after {
                            @extend  %back_table;
                        }
                        &::before {
                            @extend  %back_table;
                        }
                    }
                }
            }
            .read { 
                display:inline-block;
                font-size:16px;
                color:#fff;
                text-transform:uppercase;
                background:#4d4d4d;
                padding:8px 25px;
                margin:30px 0;
                transition:$trans_3;
                &:hover {
                    text-decoration:none
                }
            }
            &:hover {
                .read {
                    background:#09b1c5
                }
            }
        }
    }
}

%back_table {
    background:linear-gradient(to bottom,#40c4db 50%,#34bacc 50%)
}
/*** offers ***/

/*** certificates ***/
section.certificates {
    padding: 80px 0;
    .item {
        margin: 20px;
        .certi-img {
            img {
                max-width: 100%
            }
        }
    }
    .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .owl-prev, .owl-next  {
            background-color: $main_color;
            padding: 3px 14px;
            margin: 10px;
            i {
                color: #fff
            }
        }
    }
}
/*** certificates ***/

/*** contact ***/
section.contact-info {
    padding: $padding;
    .conatct-content {
        .box {
            border: 1px solid #dedede;
            padding: 40px 20px;
            text-align: center;
            background-color: #f7f7f7;
            
            .cont-icon {
                margin-bottom: 20px;
                
                i {
                    font-size: 35px;
                    border: 1px solid $main_color;
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    border-radius: 50%;
                    color: $main_color;
                    transition: all .4s;
                    &:hover {
                        background-color: $main_color;
                        color: #fff
                    }
                }
            }
            .cont-text {
                h2 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #757575;
                }
                p {
                    a, span {
                        color: #555;
                        font-size: 15px;
                        font-weight: 600
                    }
                }
            }
        }
    }
}
/*** contact ***/

/*** form ***/
section.contact {
	background-image: url("../img/background/footer.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
    padding: $padding;
    
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,0.9);
        z-index: -1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    }
    .section-title {
        position: relative;
        margin-bottom: 50px;
        p {
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: 400;
            color: #333
        }
        h4 {
            font-size: 40px;
            font-weight: 600;
            text-transform: capitalize;
            position: relative;
            padding-bottom: 20px;
            display: inline-block;
            color: #333;
            
            &::before {
                position: absolute;
                content: "";
                width: 80px;
                height: 2px;
                background-color: #333;
                bottom: 0;
                left: 50%;
                margin-left: -40px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 50px;
                height: 2px;
                background-color: #FF7200;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -25px;
            }
        }
        
    }
    .single-contact {
        text-align: left;
        position: relative;
        padding-left: 70px;
        margin-bottom: 50px;
        margin-top: 10px;
        i {
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: $main_color;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 500;
            color: #333;
        }
        p {
            font-size: 15px;
            font-weight: 400;
            color: #333;
        }
    }
    .contact-form {
        input, textarea, select {
            width: 100%;
            border: 1px solid #b3b3b3;
            padding: 10px 20px;
            text-transform: capitalize;
            margin-top: 15px;
            background-color: rgba(255,255,255,.3);
            color: #333;
            border-radius: 10px;
        }
        input[type="submit"] {
            background-color: $main_color;
            border: 0px;
            cursor: pointer;
            font-size: 16px;
            -webkit-transition: $trans_4;
            transition: $trans_4;
            color: #fff;
            &:hover {
                background-color: #00b1aa
            }
        }
        input:focus, textarea:focus {
            border-color: $main_color;
            outline: none
        }
    }
}
/*** form ***/

/*** footer ***/
footer.bottom {
    background-color: $main_color;
    padding: 20px 0;
    .copyright {
        color: #e5e5e5;
        font-weight: 600;
        a {
            color: #f96f00;
            margin-left: 3px;
            padding-right: 3px;
            &:hover{
                color: #fff;
            }
        }
        p {
            margin-bottom: 0;
            line-height: normal;
            font-weight: 400;
            font-size: 15px;
            span {
                color: #d1caca;
            }
        }
    }
}
::-webkit-input-placeholder { /* Edge */
    color: #333;
    font-size: 12px
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
    font-size: 12px
}
::placeholder {
    color: #333;
    font-size: 12px
}
/*** footer ***/