@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 

body {
    font-family: 'Droid Arabic Kufi', sans-serif;
}

/**** start nav ****/
.site-navigation ul li a:hover, .site-navigation ul li.current-menu-item a {
    color: #000
}

/*** start slider ***/
.hero-content-wrap .content {
    direction: rtl;
    text-align: right
}

.hero-content-overlay p {
    line-height: 1.8;
    color: #02194c;
    font-size: 20px;
    font-weight: 600;
}
.hero-content-overlay .button {
    margin-right: 0
}
.swiper-pagination {
    right: 0
}


/*** start about ***/
section#about {
    position: relative
}
.appointment-box h2 {
    right: -2px;
    padding-left: 16px;
    left: auto;
    font-size: 40px;
    color: #1d1d1d;
}
.homepage-boxes .list {
    list-style: none
}

.homepage-boxes .appointment-box {
    padding: 47px 20px;
}

.small_title {
    font-size: 17px;
    font-weight: bold;
    color: #5590d6;
    margin: 27px 0 15px 0;
}
.homepage-boxes .list i {
    color: #5590d6;
    border: 1px solid #5590d6;
    padding: 5px;
    border-radius: 50%;
}
section#about::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 31%;
    z-index: -1;
    width: 499px;
    height: 492px;
    opacity: .2;
    background: url(../images/testimonial-content-bg.png) no-repeat;
    animation: up_down 30s linear infinite;
    animation-direction: normal

}
@keyframes up_down {
    0% { transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

/**** services ****/
.area-title-and-icon {
    text-align: center;
    margin-bottom: 50px;
font-weight: bold
}
.area-title-and-icon h2 {
    text-align: center
} 
.promotions-area {
	position: relative;
    padding: 60px 0
}

.promotions-area.section-padding {
	padding-bottom: 70px;
}

.single-promotions {
	background: #fff none repeat scroll 0 0;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 1;
}

.single-promotions::before {
	border: 1px solid #00c9ff;
	content: "";
	height: calc(100% - 20px);
	left: 10px;
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	z-index: -1;
}

.promotions-icon {
	background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff)) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #92fe9d, #00c9ff) repeat scroll 0 0;
	color: transparent;
	font-size: 36px;
	margin-bottom: 20px;
	-webkit-background-clip: text;
	-ms-background-clip: text;
	background-clip: text;
}
.promotions-icon i {
    color: #49E3CE
}

.single-promotions h4 {
	font-weight: 500;
	-webkit-transition: 0.3s;
	transition: 0.3s;
    margin-bottom: 20px
}

.single-promotions:hover {
	-webkit-box-shadow: 0 10px 15px #999;
	box-shadow: 0 10px 15px #999;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.single-promotions:hover h4 {
	color: #00c9ff;
}

.area-image-bg {
    background: rgba(0, 0, 0, 0) url(../images/area-bg.jpg) no-repeat scroll center center / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/*******/
.testimonial-slider .entry-content p {
    text-align: right
}
.testimonial-slider .entry-content p::before {
    left: auto;
    right: 0
}
.testimonial-slider .testimonial-user {
    text-align: right
}
.testimonial-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: url(../images/testimonial-bg.jpg) no-repeat right center;
    background-size: cover;
}
.testimonial-bg-shape::before {
    content: '';
    position: absolute;
    bottom: -90px;
    right: -100px;
    left: auto;
    z-index: -1;
    width: 499px;
    height: 492px;
    background: url(../images/testimonial-content-bg.png) no-repeat;
}
/**** start contact ***/
.contact-page-map {
    margin-bottom: 0px;
    margin-top: 0px;
}
.contact-page-map iframe {
    height: 230px;
}
.contact-form {
    background: url(../images/footer.jpg) left top;
    background-size: cover;
    padding: 60px 0;
    margin-bottom: 0
}
.contact-form .button {
    float: right;
    margin-right: 0
}
.contact-form h2 {
    background-color: transparent;
    text-align: right;
    color: #666
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"], 
.contact-form textarea {
    width: 100%;
    padding: 15px 20px;
    margin-top: 30px;
    border: 0;
    background: #fff;
    outline: none;
    font-size: 12px;
    line-height: 1;
    font-style: italic;
    color: #828282;
}
.opening-hours h2, .emergency-box h2, .contact-info h2 {
    right: -2px;
    padding-left: 16px;
    left: auto;
    font-size: 25px;
    color: #1d1d1d;
}

.contact-page-short-boxes .emergency-box {
    padding: 32px;
}
.site-footer {
    padding: 30px 0;
}

footer .copy-right a img {
    background-color: #EEE;
    padding: 6px 10px;
    border-radius: 10px;
    width: 80px;
    vertical-align: middle;
}