/**/

/**/

/**/
.main-header {
    .main-menu {
        ul {
            li {
                > a {
                    padding: 39px 10px;
                    &::before {
                        left: 26%;
                        bottom: 25px;
                        background: #1299d1;
                    }
                }

                &.active {
                    > a::before {
                        width: 50%
                    }
                }

                &:hover {
                    a::before {
                        width: 50%
                    }
                }
            }
        }
    }
}
/**/

/**/
.slider-area {
    .hero__caption {
        p {
            padding-right: 0;
            padding-left: 155px;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            color: #2b044d;
            line-height: normal;
            margin-bottom: 30px;
        }

        .slider-btns {
            margin-top: 45px
        }
    }
}
/**/

/**/
.best-features-area {
    .single-features {
        margin-bottom: 10px;

        .features-caption {
            p {
                i {
                    font-size: 21px;
                    vertical-align: text-top;
                    color: #1299d1;
                }
            }
        }
    }

    .section-tittle {
        margin-bottom: 35px;

        h2 {
            margin-bottom: 15px;
            font-size: 30px;
            color: #1c5389
        }
    }
    .features-shpae {
        position: static;
        img {
            max-width: 100%;
        }
    }
}
/**/

/**/
.service-area {
    padding: 80px 0;

    .service-cap {
        margin-top: 25px;

        h4 {
            font-size: 19px;
            font-weight: 600;
        }
    }

    .services-caption {
        padding: 50px 0 50px;

        &:hover {
            border: 1px solid #1299d1;
        }

        .service-icon {
            img {
                position: relative;
                z-index: 1
            }
        }
    }
}
/**/

.before-after {
    padding: 70px 0;
    .owl-carousel {
        .owl-item {
            img {
                display: inline-block;
                max-width: 49.5%;
                float: right;
                margin: 1px
            }
        }
    }
}

/**/
.say-something-aera {
    .say-something-cap {
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    .say-shape {
        .say-shape2 {
            position: absolute;
            left: 0;
            right: auto;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1200px) {
    .say-something-aera {
        .say-shape {
            .say-shape1 {
                right: -134px;
                left: auto;
                bottom: -215px;
                opacity: .5;
            }
        }
    }
}

/**/

/**/
.best-features-area {
    .features-shpae {
        left: auto;
        right: 30px;
        top: 100px;
    }
}

/**/

/**/
.slick-slide {
    img {
        max-width: 100%
    }
}

.our-customer {
    .single-customer {
        padding: 0
    }
}

.applic-apps {
    padding: 80px 0;

    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        position: static;

        .owl-item img {
            display: block;
            width: 100%;
            background-color: #6bd4ff;
            padding: 5px;
        }
    }

    .single-cases-info {
        position: static;
        text-align: center
    }

    .owl-carousel .owl-nav div.owl-next {
        left: auto;
        right: 20px;
    }
}

/**/

/**/
.best-pricing::before {
    background-image: -moz-linear-gradient(0deg, #1299d1 0%, #6c19f6 100%);
    background-image: -webkit-linear-gradient(0deg, #26a1d5 0%, #1c53892b 100%);
    background-image: -ms-linear-gradient(0deg, #1299d1 0%, #6c19f6 100%);
}
.pricing-card-area {
    padding: 0 0 80px;

    .justify {
        justify-content: center
    }

    .single-card {
        .card-top {
            line-height: normal;
            border-bottom: none;

            .old-price {
                text-decoration: line-through
            }

            h4 {
                font-size: 40px
            }

            .plus {
                display: block;
                margin-bottom: 0;
                font-size: 40px;
                line-height: .5;
            }
        }
    }

    .card-btn1 {
        background: #1299d1;
        border-radius: 35px;
        font-size: 15px
    }
}

/**/


/**/
.clients {
    padding: 70px 0;

    .single-img {
        img {
            background-color: #ffffff;
            padding: 15px;
            border: 2px solid #eee;
        }
    }

    .owl-carousel .owl-nav div.owl-next {
        left: auto;
        right: -40px;
    }

    .owl-carousel .owl-nav div.owl-prev {
        left: auto;
        left: -40px;
    }
}

/**/

/**/
.contact-section {
    .contact-info {
        .contact-info__icon {
            margin-right: 0;
            margin-left: 20px;

        }
        .media-body {
            p {
                color: #8a8a8a;
                line-height: 25px;
                font-size: 14px;
            }
            h3 {
                margin-bottom: 10px
            }
            .social {
                a {
                    i {
                        margin: 3px;
                        font-size: 22px;
                        border: 1px solid #4e4e4e;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        color: #4e4e4e;
                        transition: all .3s;
                        &:hover {
                            color: #000
                        }
                    }
                }
            }
        }
        a,
        button {
            color: #000
        }
    }

    .section-tittle2 {
        h2 {
            color: #000;
            font-size: 35px;
            margin-bottom: 40px
        }
    }

    .boxed-btn {
        letter-spacing: normal
    }
}
/**/

/**/
.footer-area {
    background-color: #eee;
    .footer-copy-right {
        padding: 20px 0;
        p {
            margin-bottom: 0;
            font-size: 13px
        }
    }
}
/**/

.owl-carousel .owl-nav div {
    position: static
}

.owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


@media only screen and (max-width: 500px) {
    .slider-area {
        .hero__caption {
            p {
                padding-right: 0;
                padding-left: 155px;
            }

            h2 {
                font-size: 20px;
                line-height: normal;
                margin-bottom: 20px;
            }

            .slider-btns {
                margin-top: 45px;
                .radius-btn {
                    padding: 28px 35px;
                    border-radius: 30px;
                    font-size: 14px
                }
            }
        }
    }
    .say-something-aera {
        .say-something-cap {
            h2 {
                font-size: 30px;
            }
        }

        .say-shape {
            .say-shape2 {
                position: absolute;
                left: 0;
                right: auto;
                bottom: 0;
            }
        }
        .say-btn {
            text-align: center;
            .radius-btn {
                padding: 30px 30px;
                border-radius: 30px;
                font-size: 13px;
                letter-spacing: normal
            }
        }
    }
}


/*----- start fixed mobile ------*/
.con_icons {
    width: 100%;
    background-color: #008fa5;
    position: fixed;
    bottom: 0;
    left: -4px;
    transition: all ease-in-out .4s;
    height: 75px;
    line-height: 75px;
    box-shadow: none;
    z-index: 16000170;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 50px;
}

.con_icons p {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 75px;
}
.con_icons .contain {
    background-color: #ffffff;
    position: relative;
    bottom: 0px;
    width: 100px;
    height: 75px;
    border-radius: 0 0 138px 0;
    left: 0px;
    float: left;
} 
.con_icons .fixed_whats {
    width: 50%;
    height: 60%;
    background: url(../img/whats.png) center center;
    background-size: cover;
    position: absolute;
    bottom: 18px;
    left: 15px;
}
.con_icons .fixed_mobile i {
    background-color: #FFF;
    color: #008fa5;
    padding: 6px;
    border-radius: 50%;
    font-size: 18px;
}
@media (min-width: 576px) {
    .con_icons {
        display: none
    }
}
@media (max-width: 576px) {
    .footer-main {
        padding: 30px 0 70px;
    }
    #scrollUp {
        bottom: 75px;
    }
}
/*----- end fixed mobile ------*/