/*font Variables*/
$primary-font: "Almarai", sans-serif;
$title-font: "Almarai", sans-serif;

/*Color Variables*/
$primary-color: #fdc632;
$title-color: #002347;
$text-color: #7b838a;
$offwhite: #f9f9ff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Almarai&display=swap');