/** header **/
.home_text {
    direction: rtl
}
.home_text h1 {
    font-size: 50px;
    font-weight: 600;
}

.home_text h2 {
    font-size: 23px;
    line-height: 2;
    max-width: 90%;
    margin: auto;
}
.overlay {
    background-color: rgba(41, 39, 34, 0.65);
}
.head_title {
    text-align: center
}
.head_title h2 {
    border-right: 3px solid #e8a908;
    padding-right: 15px;
    max-width: 326px;
    margin: auto
}
/** start nav **/
.navbar  {
    background-color: #FFF!important
}
.navbar-brand {
    padding: 5px;
    height: auto
} 
.navbar-brand > img {
    max-width: 35%;
}
.navbar-nav > li {
    float: right
}
nav.navbar.bootsnav ul.nav > li > a {
    font-weight: 500;
    
}
nav.navbar.bootsnav.no-background.white ul.nav > li > a {
    color: #555
}

/* about **/
.at_small {
    padding-top: 50px
}
.about {
    padding: 60px 0 0 0
}
.about .image img {
    display: inline-block
} 
.main_about {
    direction: rtl;
}
.about .head_title h2 {
    width: 70%;
    margin: 0;
    color: #e8a908
} 
.main_about p {
    font-size: 16px;
    line-height: 2;
    text-align: right;
    margin-right: 25px
}
.main_about i {
    margin-right: -27px;
    color: #e8a908;
    text-align: center;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: 1px solid #e8a908
}
.main_about .btn-primary {
    background-color: #e8a908;
    color: #FFF;
    padding: 15px 40px
}


.features {
    background-color: #f6f7fe
}
.features_item_text img {
    max-width: 60px;
    border-radius: 0
}
.btn-primary:active,.btn-primary:hover {
    background-color: #b59135;
    color: #FFF;
}
.features_item_text {
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 30px 20px;
    box-shadow: 1px 1px 1px #EEE
}
.features_item_text:hover {
    box-shadow: none
}
.features_item_text p {
    font-size: 15px;
    font-weight: 500;
    color: #717171;
    line-height: 1.8;
    padding: 0 18px;
    height: 80px;
}
.features_item_text h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    color: #e8a909;
}

/** section service **/
section.service .head_title{
    margin-bottom: 30px
}

.service_slid .slick-arrow {
    border: 2px solid #e8a907;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #e8a907
}
.service_slid {
    box-shadow: none;
    border: 1px solid #e8a907;
    border-radius: 4px 4px 0px 0px;
}
.service_slid .service_slid_text span.icon {
    color: #ce9400
}
.service_slid .service_slid_text h5 {
    color: #FEFEFE;
    font-size: 35px
}
.service_slid_text p {
    width: 70%;
    margin: auto;
    line-height: 1.8;
    margin-top: 30px;
    color: #FFF;
    direction: rtl
}
.service_slid .slid_shap {
    height: 5px
}
/** activity **/
.service_slid .service_slid_item {
    background: url(../images/04.jpg) center center;
    background-size: cover;
    position: relative;
}
.service_slid .service_slid_item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
}


/** gallery **/
#portfolio .head_title {
    margin-bottom: 20px
}
.filters-button-group {
    margin: 40px 0
}
.main-portfolio .button.is-checked {
    color: #FFF
}
.content img {
    max-width: 100%;
    border-radius: 10px;
}
.content {
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden
}
.girid_hover_text  {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}
.girid_hover_text .btn-primary {
    border: none
}
.girid_hover_text .btn-primary:active,.girid_hover_text .btn-primary:hover {
    border: none;
    background-color: transparent
}
.girid_hover_text a {
    background-color: transparent
}
.girid_hover_text a i {
    font-size: 30px;
    color: #FFF
}
.main-portfolio .grid_hover_area {
    position: static
}


/* ==========================================================================
10. Start Contact Area
========================================================================== */
#contact {
	position: relative;
	overflow: hidden;
}

#contact #contactForm {
	margin-top: 30px;
}

.form-control {
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding: 8px 10px;
	border: 1px solid #e1e1e1;
}

.form-control:focus {
	box-shadow: none;
	outline: none;
	border-color: #caa847;
}
.contact-form-area {
	background: #fff;
	box-shadow: 0 0 30px #ededed;
	padding: 60px 10px;
}

.contact-form-area h4{
    font-size: 20px;
    color: #333;
    color: #caa847
}

.footer-right-contact {
    padding: 30px 10px;
    border: 1px solid rgba(0,0,0, 0.1);
    height: 320px
}

.footer-right-contact .single-contact {
	margin: 10px 22px;
	padding: 3px 23px;
	position: relative;
	color: #666;
}

.footer-right-contact .single-contact p {
	margin-bottom: 5px;
    font-size: 14px
}

.footer-right-contact .single-contact p a {
	color: #666;
}

.footer-right-contact .contact-icon {
    background: #caa847;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    height: 30px;
    right: -17px;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 42%;
    /* line-height: 30px; */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px
}
.footer-right-contact .contact-icon i {
    top: -3px;
    position: relative;
}

.text-danger {
	font-size: 14px;
	margin-top: 10px;
}

.list-unstyled li {
	color: #d9534f;
}
.social-icon li {
  display: inline-block;
}

.social-icon li a {
    color: #fff;
    line-height: 38px;
    font-size: 18px;
    margin: 15px 6px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon li a:hover{
	opacity: 0.5;
}
#conatiner-map {
	margin-top: 30px;
	text-align: center;
	background-color: #fff;
	height: 370px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 101;
	width: 100%;
}
.contact_input_area .btn {
    background-color: transparent;
    padding: 10px 40px;
    border: 1px solid #e1e1e1;
    width: 100%
}
.form-control {
    height: 40px
}

/* ==========================================================================
10. End Contact Area
========================================================================== */












