/** start about page **/
.navbar{
    position: relative;
    transition: all .4s
}
.navbar.is_fixed_page {
    background: #FFF;
    box-shadow: 1px 1px #d4d4d4;
    border-bottom: 1px solid transparent;
    position: fixed;
    transition: all .4s
}
section.title_page {
    height: 200px;
    width: 100%;
    background: url(../img/pages.webp) center center no-repeat;
    background-size: cover;
    position: relative;
    text-align: right;
    display: flex;
    align-items: center
}
section.title_page .brief a {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 27px;
    transition: all .4s
}
section.title_page .brief a:hover {
    color: #EEE;
    text-decoration: none
}
section.title_page .brief span {
    color: #fff;
    font-size: 22px
}


/** start services page **/
body.services_page {
    
}

body.services_page section.services .box .over {
    opacity: 1;
    border: 20px solid #E3E2E3;
}
body.services_page section.services .box .over h3,body.services_page section.services .box .over p {
    transform: translateY(0);
}
body.services_page section.services .over {
    width: 100%;
    height: 100%;
    background-color: rgba(117, 211, 197, 0.4);
    z-index: 1;
    opacity: 1;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
    padding: 30px 10px;
    border: 20px solid transparent;
}

body.services_page section.services .over h3,body.services_page section.services .over p {
    transform: translateY(0);
    transition: all .5s;
}
body.services_page section.services .over h3 {
    margin-bottom: 30px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}
body.services_page section.services .over p {
    line-height: 2;
    color: #3a3a3a;
    line-height: 1.8;
    font-size: 15px;
    direction: rtl
}
body.services_page section.services h4 {
    position: absolute;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    color: #555;
    width: 100%;
    height: auto;
    text-align: center;
    bottom: 0;
    background-color: #EEE;
    transition: all .5s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}





